.musicView-out{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;

}

.musicView-out .yincang{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(000, 000, 000, 0.3);
    z-index: 999;
}

.musicView-out header{
    height: 85px;
    background: red;
    background: #61bf82;   
}
.musicView-head-top{
    height: 40px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.musicView-out header .musicView-head-nva{
    width: 50px;
    text-align: center;
}
.musicView-head-nva .active{
    color: #fff;
}
.musicView-head-left,.musicView-head-right{
    width: 30px;
    margin: 0 10px;
}


.musicView-out section{
    flex: 1;  
    overflow: hidden;
    
}

.musicView-out footer{
    overflow: hidden;
}

.am-search {
    border-bottom: 1px solid #ddd;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }
  
  .sectionBox{
      height: 8300px;
      overflow: hidden;
  }



